<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div> <a href="/flights">All Flights</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/flights/new">New Flight</a><br></div>